.demo-box{
	/* width: 500px; */
	overflow: hidden;
	/* border: 1px solid #E6E8EB; */
}
/*******单独组件样式********/
.calendar-box *{
	box-sizing: border-box;
}
.ht-rili-head{
	overflow: hidden;
}
.ht-rili-querybox{
	overflow: hidden;
}
.ht-rili-title{
	padding: 10px;
	display: none;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}
.ht-rili-datebox{
	width: 100%;
	float: right;
	display: inline-block;
	vertical-align: middle;
	padding: 0.5rem;

}
.ht-rili-date{
	text-align: center;
	display: inline-block;
	width: 50%;
	font-size: 0.7rem;
	/* height: 19px; */
	/* line-height: 19px; */
	vertical-align: middle;
}
.ht-rili-leftarr{
	display: inline-block;
	width:25%;
	height: 0.6rem;
	background: url("../img/jiu-img/date_07.jpg") left center no-repeat;
	background-size: contain;
	vertical-align: middle;
	cursor: pointer;
}
.ht-rili-rightarr{
	display: inline-block;
	width:25%;
	height: 0.6rem;
	background: url("../img/jiu-img/date_09.jpg") right center no-repeat;
	background-size: contain;
	vertical-align: middle;
	cursor: pointer;
}
.ht-rili-head{
	border-bottom: 1px solid rgb( 26, 178, 219 );
}
.ht-rili-th{
	width: 14.25%;
	float: left;
	text-align: center;
	height: 1.2rem;
	line-height: 1.2rem;
	font-size: 0.6rem;
	/*background: #E66B14;*/
	color: rgb( 26, 178, 219 );
	font-family: "SourceHanSansCN";
}
  
.ht-rili-td{
	width: 14.25%;
	float: left;
	text-align: center;
	height: 1.7rem;
	padding-top: 0.4rem;
	cursor: pointer;
	position: relative;
}
.ht-rili-body{
	overflow: hidden;
}
.ht-rili-day{
	font-family: "Heiti SC" !important;
	font-size: 0.6rem;
	display: inline-block;
	width: 100%;
}
.ht-rili-money{
	font-family: "SourceHanSansCN";
	display: inline-block;
	width: 100%;
	font-size: 0.3rem;
	color: rgb( 26, 178, 219 );
	position: absolute;
	top: 1.2rem;
	left: 0;
}
.ht-rili-td-disabled{
	color: #BFC4CA;
}
.ht-rili-td-active{
	border-radius: 10%;
	background-color: rgba( 26, 178, 219, 0.2 );
}
