* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,
li {
	list-style: none;
	display: inline;
}
a{
	text-decoration: none;
	cursor: pointer;
}
.clearfix:after {
	content: '';
	height: 0;
	display: block;
	visibility: hidden;
	clear: both;
}

.fr {
	float: right;
}

.fl {
	float: left;
}
/* tobu */
header{
    background-color: rgb( 20, 72, 174 );
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.6rem;
    z-index: 11;
    position: relative;
    margin-bottom: 0.5rem;
}
header p{
    font-size: 0.88rem;
    font-family: "SourceHanSansCN";
    color: rgb( 255, 255, 255 );
    -moz-transform: matrix( 0.56689435083499,0,0,0.56840915024474,0,0);
    -webkit-transform: matrix( 0.56689435083499,0,0,0.56840915024474,0,0);
    -ms-transform: matrix( 0.56689435083499,0,0,0.56840915024474,0,0);
    text-align: center;
    line-height: 1.6rem;
    z-index: 13;
  }
header span:first-child{
    display: block;
    width: 0.25rem;
    height: 0.3rem;
    position: absolute;
    top: 0.4rem;
    left: 0.4rem;
}
#tobu-p-1{
    display: block;
    position: absolute;
    top: 0.6rem;
    right: 0.4rem;
    font-size: 0.3rem;
    font-family: "SourceHanSansCN";
    color: rgb( 255, 255, 255 );
    text-align: right;
    z-index: 13;
}
  
  